# Tutoriel Python MySQL

MySQL Connector/Python est le pilote MySQL officiel pour la connexion Python à la base de données MySQL.

Voici un résumé de l'utilisation du module MySQL Connector avec des exemples.

Vous devez avoir le module mysql.connector installé, utilisez pip pour installer le module.

Pour tester si votre base de données fonctionne, vous pouvez utiliser le code ci-dessous :

In [ ]:
# -*- coding:utf-8 -*-
import mysql.connector

# Connect with database, change parameters
cnn = mysql.connector.connect(user='root',passwd='root',database='testdb')

# create cursor
cursor = cnn.cursor()

# execute a query
cursor.execute("SELECT VERSION()")

# fetch version
data = cursor.fetchone()
print("Database version : %s " % data)

# close connection
cnn.close()

## Database connection
Le code pour connecter la base de données est le suivant. Modifiez les paramètres nom d'utilisateur, mot de passe et base de données et l'adresse de l'hôte s'il ne s'agit pas du serveur mysql localhost.

In [ ]:
import mysql.connector
config={'host':'127.0.0.1',#default 127.0.0.1
        'user':'root',
        'password':'123456',
        'port':3306 ,#default is 3306
        'database':'testdb',
        'charset':'utf8'# is utf8 by default
        }
try:
  cnn=mysql.connector.connect(**config)
except mysql.connector.Error as e:
  print('connect fails!{}'.format(e))

La méthode de connexion est légèrement différente du module MySQLdb, qui utilise le signe =, et ici le signe : .

## Creating a table
Les tables peuvent être créées avec la requête SQL CREATE TABLE '...' .

Ci-dessous, nous créons une table nommée student basée sur une nouvelle connexion à la base de données ci-dessus. Le code est le suivant (vous devriez déjà être connecté à la base de données).

In [ ]:
# create table query
sql_create_table='CREATE TABLE `student` 
(`id` int(10) NOT NULL AUTO_INCREMENT,
`name` varchar(10) DEFAULT NULL,
`age` int(3) DEFAULT NULL,
PRIMARY KEY (`id`)
ENGINE=MyISAM DEFAULT CHARSET=utf8'

# run query
cursor=cnn.cursor()
try:
  cursor.execute(sql_create_table)
except mysql.connector.Error as e:
  print('create table orange fails!{}'.format(e))

## Insert data
La requête SQL "INSERT INTO table (col1, col2,..) VALUES (....)" insère un nouvel enregistrement dans la base de données.

La syntaxe pour insérer des données est essentiellement la même que sur MySQLdb.

Le code est comme suit :

In [ ]:
cursor=cnn.cursor()
try:
  #First: direct string insertion method
  sql_insert1="insert into student (name, age) values ('orange', 20)"
  cursor.execute(sql_insert1)

  #Second: tuple connection insertion method
  sql_insert2="insert into student (name, age) values (%s, %s)"
  #The %s here are placeholders, not formatted strings, so AGE uses %s
  data=('shiki',25)
  cursor.execute(sql_insert2,data)

  #Third: dictionary connection insertion method
  sql_insert3="insert into student (name, age) values (%(name)s, %(age)s)"
  data={'name':'mumu','age':30}
  cursor.execute(sql_insert3,data)
  #If the database engine is Innodb, execute cnn.commit() for transaction commit after execution
except mysql.connector.Error as e:
  print('insert datas error!{}'.format(e))
finally:
  cursor.close()
  cnn.close()

De même, le connecteur MySQL prend en charge plusieurs insertions, en utilisant également cursor.executeemany, par exemple.

In [ ]:
stmt='insert into student (name, age) values (%s,%s)'
data=[
     ('Linda', 31),
     ('Carlos', 32),
     ('Laura', 31)]
cursor.executeemany(stmt,data)

## Query operation
Vous pouvez exécuter la requête SELECT pour extraire des données d'une table de base de données. 
Le code est comme suit

In [ ]:
cursor=cnn.cursor()
try:
  sql_query='select id,name from student where age > %s'
  cursor.execute(sql_query,(21,))
  for id,name in cursor. print ('%s\'s age is older than 25,and her/his id is %d'%(name,id))
    print ('%s\'s age is older than 25,and her/his id is %d'%(name,id))
except mysql.connector.Error as e:
  print('query error!{}'.format(e))
finally:
  cursor.close()
  cnn.close()

## Delete operation
La suppression de la base de données peut être effectuée avec la requête DELETE FROM table WHERE .... Le code est le suivant :

In [ ]:
cursor=cnn.cursor()
try:
  sql_delete='delete from student where name = %(name)s and age < %(age)s'
  data={'name':'orange','age':24}
  cursor.execute(sql_delete,data)
except mysql.connector.Error as e:
  print('delete error!{}'.format(e))
finally:
  cursor.close()
  cnn.close()